<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{title }}</title>
	<link rel="stylesheet" href="/css/style.css"> {{#if ENV_DEVELOPMENT}}
	<script src="http://localhost:35729/livereload.js"></script>
	{{/if}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>


	{{{body}}}


</body>

</html>
